.inputcek{
                       
  
                      width: 450px;
                      background-color: black;
                      height: 300px;
                      margin-left: 500px;
                      margin-bottom: 20px;
}

#ch11{
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-top: 10px;
      
      
                    margin-bottom: 10px;
}

.innchh{
                      margin-left: 100px;
                   
}

.eee{
                      margin-top: 30px;
}

.btnyy{
                      background-color: white;
                      color: black;
                  padding-left: 20px;
                  padding-right: 20px;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  margin-left: 60px;

}